<h1>string interpolation test</h1>
{{stringInterpolationVar}}

<h1>property binding test</h1>
<span [innerHTML] = "propertyBindingVar"></span>

<h1>event binding</h1>
<input type="button" 
       (click) = "pressFun()"
       value="press here">

<h1>two way binding</h1>
<input type="button" 
       (click) = "changeButtonTitle()"
       value={{buttonTitle}}>

<h2>enter username</h2>
<input type="text" 
       [(ngModel)] = "username"
       (input) = "onUpdateName($event)">

<p>
{{username}}
</p>


<h2>two way binding</h2>
<input type="button" 
       [disabled] = "nameDisabled"
       [(ngModel)] = "username"
       (click) = "onReset()"
       >
